

.content_5{
    width: 100%;
    height: 570px;
    background: #F5F5F5;
}
.content_5_box{
    width:1180px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.content_5_box>h2{
    text-align: center;
    margin-top: 86px;
    margin-bottom: 72px;
    font-size: 24px;
}
.content_5_box_mid>div{
    width: 378px;
    height: 228px;
    border:1px solid grey;
    background: white;
    margin-right: 20px;
    float: left;
}
.content_5_box_mid>div.content_5_box_midr{
    margin-right: 0;
}
.content_5_box_mid>div>div{
    width:378px;
    height:170px;
    overflow: hidden;
}
/* 第一张图片*/
.content_5_pic{
    background-size: 378px 200px;
}
.content_5_pic>img{
    width: 378px;
    height: 228px;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
.content_5_pic:hover >img{
    transform: scale(1.1,1.1);
}

.content_5_box_mid>div>p{
    margin-top: 23px;
    font-size: 14px;
    margin-left: 20px;
    color: #0f0f0f;
}


.content_5_box>div>div>a{
    display: inline-block;
    text-decoration: none;
    color: grey;
}
.content_5_box>div>div>a:hover{
    color: #00b3ee;
}
.content_5_bottext{
    margin-top:30px ;
    line-height: 25px;
    font-size: 14px;
    width: 378px;
    float: left;
    margin-right: 20px;
}